@import "tailwindcss";
@plugin '@tailwindcss/typography';

.prose {
  max-width: none;
}

/* 折りたたみアイコンの回転 */
details[open] .transform[open] {
  transform: rotate(180deg);
}

textarea {
  overflow-anchor: none;
}