@import "tailwindcss";
@plugin '@tailwindcss/typography';

.prose {
  max-width: none;
}

/* 折りたたみアイコンの回転 */
details[open] .transform {
  transform: rotate(180deg);
}

textarea {
  overflow-anchor: none;
}

.prose .task-list-item {
  list-style-type: none;
}

.prose .task-list-item input[type="checkbox"] {
  margin: 0.5em 0 -1 -1.5em;
}
